---
import Typography from "./ui/Typography.astro";

const clients = [
  { src: '/images/clients/fybeca.png', alt: 'Fybeca' },
  { src: '/images/clients/tuti.png', alt: 'Tuti' },
  { src: '/images/clients/fybeca.png', alt: 'Fybeca' },
  { src: '/images/clients/tuti.png', alt: 'Tuti' },
]
---

<section class='pb-5 pt-10 bg-muted'>
  <div class='container mx-auto'>
    <h2 class='text-3xl font-bold text-center mb-12'>
      <Typography>Nuestros Clientes</Typography>
    </h2>
    <div class='grid grid-cols-2 md:grid-cols-4 gap-8 items-center'>
      {clients.map((client) => (
        <div class='p-6 bg-light/5 rounded-xl hover:bg-light/10 transition-all duration-300 flex items-center justify-center group'>
          <img
            src={client.src}
            alt={client.alt}
            class='w-full max-w-[180px] transform transition-transform duration-300 group-hover:-translate-y-1 intersect:animate-flip-up intersect-once'
          />
        </div>
      ))}
    </div>
  </div>
</section>
