<section class='relative min-h-screen'>
  <div class='absolute inset-0'>
    <img
      src='/images/hero-bg.jpg'
      alt='Fondo Bufete Legal'
      class='w-full h-full object-cover'
    />
    <div
      class='absolute inset-0 bg-gradient-to-r from-dark/95 via-dark/70 to-dark/30'
    >
    </div>
  </div>

  <div
    class='container mx-auto px-4 pt-32 pb-24 h-[100svh] flex flex-col justify-center relative'
  >
    <div class='max-w-4xl mt-10'>
      <h1 class='text-5xl md:text-7xl font-bold mb-6 text-light'>
        Defendemos tus derechos con <span class='text-gradient-primary'
          >excelencia</span
        > y dedicación
      </h1>
      <p class='text-xl md:text-2xl text-light/90 mb-6 max-w-2xl'>
        Más de 20 años de experiencia respaldando a nuestros clientes con
        soluciones legales efectivas y personalizadas.
      </p>
      <div class='flex flex-col sm:flex-row gap-4'>
        <a href='#contacto' class='btn btn-lg btn-primary'> Contacto </a>
        <a href='#servicios' class='btn btn-lg btn-secondary'>
          Nuestros Servicios
        </a>
      </div>
    </div>
  </div>
</section>
